.benefit-card{
    background:#fff;
  border:1px solid #e2e8f0;
  border-radius:20px;
  padding:35px;
  transition:.3s;
}
.benefit-card:hover{
  transform:translateY(-8px);
  box-shadow:0 20px 40px rgba(0,0,0,.08);
}