* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 92%;
  max-width: 1400px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 32px;

  background: rgba(15, 23, 42, 0.45);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 18px;

  z-index: 1000;
}

.logo {
  height: 55px;
  width: auto;
}

.nav-links a {
  color: rgba(255,255,255,0.9);
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color:#F4B73D;
}
.nav-links {
  display: flex;
  gap: 42px;
}

.cta-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.cta-btn:hover {
  transform: translateY(-2px);
}
.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.brand span {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Mobile Responsive */
@media (max-width: 768px) {

  .navbar {
    width: 95%;
    padding: 12px 18px;
  }

  .brand span {
    font-size: 0.95rem;
  }

  .logo {
    height: 42px;
  }

  .nav-links {
    display: none;
  }

  .cta-btn {
    display: none;
  }
}

.navbar {
  transition: transform 0.35s ease, opacity 0.35s ease;
}

.navbar.show {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.navbar.hide {
  transform: translateX(-50%) translateY(-120%);
  opacity: 0;
}

.menu-toggle {
  display: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .cta-btn {
    display: none;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;

    background: rgba(15, 23, 42, 0.98);

    flex-direction: column;
    gap: 20px;

    padding: 25px;
    display: none;

    border-radius: 16px;
  }

  .nav-links.active {
    display: flex;
  }

  .brand span {
    font-size: 0.95rem;
  }

  .logo {
    height: 42px;
  }
  
}